<!-- dashboard-citas.component.html -->
<div class="dashboard">
  <header class="dashboard-header">
    <h1>Panel Veterinario</h1>
    <p>Selecciona una opción para empezar</p>
  </header>

  <div class="dashboard-cards">
    <!-- Tarjeta para Crear Cita Urgente -->
    <a routerLink="/citas/urgente" class="card">
      <div class="icon">⚡</div>
      <h3>Crear Cita Urgente</h3>
      <p>Registra una cita inmediata para atención urgente.</p>
    </a>

    <!-- Tarjeta para Consultar Citas Reservadas -->
    <a routerLink="/consultar/citas/veterinario" class="card">
      <div class="icon">📅</div>
      <h3>Consultar Citas</h3>
      <p>Revisa las citas reservadas y su estado.</p>
    </a>
  </div>
</div>
