<div class="gestion-mascotas-home">
  <h2>Gestión de Mascotas</h2>

  <div class="opciones-container">
    <div class="opcion-card" routerLink="/modificar/historial" tabindex="0" role="button">
      <h3>modificar historial medico</h3>
      <p>Consulta y modifica el historial de las mascotas.</p>
    </div>

    <div class="opcion-card" routerLink="/crear/mascota" tabindex="0" role="button">
      <h3>Crear Mascota</h3>
      <p>Registra una nueva mascota en el sistema.</p>
    </div>

    <div class="opcion-card" routerLink="/mascotas/buscar" tabindex="0" role="button">
      <h3>Buscar por Cliente</h3>
      <p>Encuentra las mascotas asociadas a un cliente específico.</p>
    </div>
  </div>
</div>
