<!-- src/app/citas/ver-citas-veterinario/ver-citas-veterinario.component.html -->
<div class="dashboard">
  <header class="dashboard-header">
    <h1>Listado de Citas Futuras</h1>
    <p>Consulta las citas reservadas que tienen una fecha superior a hoy</p>
  </header>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="citas.length > 0; else noCitas">
    <ul class="citas-list">
      <li *ngFor="let cita of citas" class="cita-item">
        <div>
          <strong>Fecha:</strong> {{ cita.fecha | date:'dd/MM/yyyy HH:mm' }}
        </div>
        <div>
          <strong>Motivo:</strong> {{ cita.motivo }}
        </div>
        <div>
          <strong>Tipo:</strong> {{ cita.tipoCita }}
        </div>
        <div>
          <strong>Mascota:</strong>  {{ cita.mascota?.nombre}}
        </div>
        <div>
          <strong>Veterinario:</strong> {{ cita.veterinario.username}}
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noCitas>
    <p>No hay citas futuras registradas.</p>
  </ng-template>
</div>
