<div class="home-cliente">
  <h2>Bienvenido a PetCarePro</h2>
  <p>Consulta tus citas, información de tus mascotas y mucho más.</p>

  <div class="opciones-container">
    <div class="opcion-card" routerLink="/perfil/mascotas" tabindex="0" role="button">
      <h3>Mis Mascotas</h3>
      <p>Revisa la información de tus mascotas registradas.</p>
    </div>

    <div class="opcion-card" routerLink="/calendario/citas" tabindex="0" role="button">
      <h3>Citas</h3>
      <p>Consulta tus próximas citas con el veterinario.</p>
    </div>

    <div class="opcion-card" routerLink="/cliente/servicios" tabindex="0" role="button">
      <h3>Mi Perfil</h3>
      <p>Informacion de tu perfil</p>
    </div>
  </div>
</div>
